/* FORM CONTAINING */
.form-container {
    background-color: #f5f5f5;
    border-radius: 5px;
    box-shadow: 0 2px 5px #0000004d;
}

.form {
    padding: .375rem .75rem;
}

/* FORM CONTROLS */

#pass_format {
    font-size: 12px;
    color: #e74c3c;
}

.form_control {
    margin-bottom: 10px;
    position: relative;
}

.form_control label {
    display: inline;
}

.form_control input {
    border: 1px solid #ced4da;
    border-radius: .375rem;
    display: inline;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    color: #212529;
    padding: 10px;
    width: 100%;
}

.form_control select {
    border: 1px solid #ced4da;
    border-radius: .375rem;
    display: inline;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    color: #212529;
    padding: 10px;
    width: 100%;
}

.form_control input[type=radio] {
    width: 1rem;
}

.form_control i {
    visibility: hidden;
    position: absolute;
    top: 40px;
    right: 10px;
}

.form_control small {
    visibility: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
}

.form button {
    background-color: #58cca5;
    border: 2px solid #58cca5;
    border-radius: 4px;
    color: #ffffff;
    display: block;
    font-family: inherit;
    font-size: 16px;
    padding: 10px;
    width: 100%;
}

/* FORM CONTROL STATES */

.form_control.success input {
    border: 2px solid #2ecc71;
}

.form_control.error input {
    border: 2px solid #e74c3c;
}

.form_control.success select {
    border: 2px solid #2ecc71;
}

.form_control.error select {
    border: 2px solid #e74c3c;
}

.form_control.success i.fa-check-circle {
    visibility: visible;
    color: #2ecc71;
}

.form_control.error i.fa-exclamation-circle {
    visibility: visible;
    color: #e74c3c;
}

.form_control.error small {
    color: #e74c3c;
    visibility: visible;
}

/* FORM CONTROL EVENTS */

.form button:hover {
    cursor: pointer;
    background-color: #309170;
    border: 2px solid #309170;
}