#encabezado{

	top :0;
}
header{
    background: #FFFFFF;
    font-family: 'Candara';
}
.partesuperior{
    background: #1e392a;
    font-family: 'Candara';
    text-align: center;

}
.buscador {
    background: 120727;
    font-family: 'Candara';
    text-align: left;

}
#divBusqueda {
    background: black;
    font-family: 'Candara';
    text-align: left;
}
.txt-busqueda{
    margin-top: 5%;
    margin-bottom: 5%;
}
footer{
    background: #3cc47c;
    text-align: center;
}
.imgRedonda {
    width:50px;
    height:50px;
    border-radius:25px;
}
.imgRedonda150 {
    width:150px;
    height:150px;
    border-radius:75px;
}
.logotipo {
    float: left;
    min-width: 50%;
    max-width: 100%;

    height: auto;
    margin-top: 1%;
    margin-bottom: 1%;
}

#pagina{
    background: green;
    text-align: center;
    position: relative;
}
.card{
    display: flex;
    position: relative;
    flex-direction: column;
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0px 0px 8px #ccc;
    background-color: #fefefe;
    position: relative;
    height: auto;
    width: 450px;
    margin: 15px 0; 
}
.divBusqueda{
    align-items: center;
}
#ico-header{
    position: relative;
    bottom: 0;
    left: 0;

}