#encabezado{

	top :0;
}

header{
    background: #FFFFFF;
    font-family: 'Abril Fatface';
}
.partesuperior{
    background: #1e392a;
    font-family: 'Abril Fatface';
    text-align: center;

}
.buscador {
    background: #CADE01;
    font-family: 'Abril Fatface';
    text-align: left;
    position: absolute;
}

#perfilDatostitulo {
    background: #6924a5;
    font-family: 'Abril Fatface';
    color: #FFFFFF;
    text-align: left;
}
#perfilDatos {
    font-family: 'Abril Fatface';
    text-align: left;
}
#color1 {
    background: #6924a5;
    font-family: 'Abril Fatface';
    text-align: left;
}
#color2 {
    background: #CADE01;
    font-family: 'Abril Fatface';
    text-align: left;
}
#color3 {
    background: #FFFFFF;
    font-family: 'Abril Fatface';
    text-align: left;
}
#color4 {
    background: #120727;
    font-family: 'Abril Fatface';
    text-align: left;
}
#divTop {
    background: #6924a5;
    font-family: 'Abril Fatface';
    text-align: left;
}
#divBusqueda {
    background: #CADE01;
    font-family: 'Abril Fatface';
    text-align: left;
}
#buscador {
    background: #CADE01;
    font-family: 'Abril Fatface';
    text-align: left;
}
#navegacion{
    background: #CADE01;
    font-family: 'Abril Fatface';
    color: #FFFFFF;
    text-align: left;
}
#txt-busqueda{
    margin-top: 10px;
}
footer{
    background: #CADE01;
    text-align: center;
}
.imgRedonda {
    width:50px;
    height:50px;
    border-radius:25px;
}
.imgCuadrada {
    width:50px;
    height:50px;
}
.imgCuadrada30 {
    width:25px;
    height:25px;
}

.imgRedonda150 {
    width:150px;
    height:150px;
    border-radius:75px;
}
.logotipo {
    float: left;
    min-width: 50%;
    max-width: 100%;

    height: auto;
    margin-top: 1%;
    margin-bottom: 1%;
}

#pagina{
    background: #FFFFFF;
    text-align: center;
    position: relative;
}
.card{
    display: flex;
    position: relative;
    flex-direction: column;
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0px 0px 8px #ccc;
    background-color: #fefefe;
    position: relative;
    height: auto;
    width: 450px;
    margin: 15px 0; 
}

.searchul {
    /* Remove default list styling */
    list-style-type: none;
    padding: 0;
    margin: 0;
}
  
.searchul li a {
border: 1px solid #ddd; /* Add a border to all links */
margin-top: -1px; /* Prevent double borders */
background-color: #f6f6f6; /* Grey background color */
padding: 12px; /* Add some padding */
text-decoration: none; /* Remove default text underline */
font-size: 18px; /* Increase the font-size */
color: black; /* Add a black text color */
display: block; /* Make it into a block element to fill the whole list */
}

.searchul li a:hover:not(.header) {
background-color: #eee; /* Add a hover effect to all links, except for headers */
}

.divBusqueda{
    align-items: center;
}
#ico-header{
    position: relative;
    bottom: 0;
    left: 0;

}
#divProducto{
    align-items: center;
}

.calificacion {
    position: relative;
    overflow: hidden;
    display: inline-block;
}
.calificacion input {
    position: absolute;
    top: -100px;
}
.calificacion label {
    float: right;
    color: #c1b8b8;
    font-size: 30px; 
}
.calificacion input:checked ~ label {
    color: #ecec00;
}

.valoracion {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.valoracion input {
    position: absolute;
    top: -100px;
}

.valoracion label {
    float: right;
    color: #c1b8b8;
    font-size: 30px; 
}

.valoracion label:hover,
.valoracion label:hover ~ label,
.valoracion input:checked ~ label {
    color: #ecec00;
}







.hidden {
  display: none;
}

footer-gray {
  background-color: #CADE01;
  width: 100%;
}

.footer-custom {
  color: #888;
  font: normal normal 12px/1.4 "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  max-width: 1008px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 24px;
}

.footer-custom:after {
  display: table;
  clear: both;
  content: "";
}

.footer-lists:after {
  display: table;
  clear: both;
  content: "";
}

.ftr-hdr {
  color: #000;
  font: 22px/1.4 'BebasNeueRegular', BebasNeue, 'Bebas Neue', Arial, sans-serif;
  margin: 1em 0 0;
}

@media only screen and (min-width: 768px) {
  .ftr-hdr {
    font-size: 18px;
  }
}

.footer-list-wrap {
  width: 50%;
  float: left;
  box-sizing: border-box;
}

@media only screen and (min-width: 568px) {
  .footer-list-wrap {
    width: 33.3333%;
  }
}

@media only screen and (min-width: 768px) {
  .footer-list-wrap {
    width: 25%;
  }
}

.ftr-links-sub {
  padding: 0;
  margin: 0;
}

.ftr-links-sub:after {
  display: table;
  clear: both;
  content: "";
}

.ftr-links-sub li {
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 3px 0;
  color: #888;
  font: normal normal 12px "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  text-transform: uppercase;
  /*width: 150px;*/
}

.footer-custom a,
.footer-custom a:link,
.footer-custom a:visited,
.ftr-links-sub li .link {
  text-decoration: none;
  color: #888;
  padding: 5px 0;
  display: block;
}

.footer-custom .footer-legal a {
  display: inline;
}

.footer-custom a:hover,
.footer-custom a:active,
.ftr-links-sub li .link:hover {
  text-decoration: underline;
  color: #888;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .footer-custom a, .footer-custom a:link, .footer-custom a:visited, .ftr-links-sub li .link {
    padding: 0;
  }
}

.footer-social {
  text-align: center;
}

.footer-social ul {
  padding: 0;
  display: inline-block;
  list-style-type: none;
}

.footer-social ul:after {
  display: table;
  clear: both;
  content: "";
}

.footer-social li {
  float: left;
  margin: 0 15px 0 0;
  padding: 0;
}

@media only screen and (min-width: 768px) {
  .footer-lists {
    width: 100%;
  }
  .footer-email {
    width: 50%;
    float: left;
    text-align: left;
  }
  .footer-social {
    width: 45%;
    margin-left: 5%;
    float: left;
    text-align: left;
  }
}

@media only screen and (min-width: 1008px) {
  .footer-lists {
    width: 66.6666%;
    float: left;
  }
  .footer-email {
    width: 33.3333%;
  }
  .footer-social {
    width: 33.3333%;
    float: right;
    margin-left: 0;
  }
}

.footer-legal {
  padding: 15px 0 0;
  clear: left;
}

.footer-payment {
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .footer-legal {
    width: 66.6666%;
    float: left;
  }
  .footer-payment {
    width: 33.3333%;
    float: left;
  }
}

@media only screen and (min-width: 1008px) {
  .footer-payment {
    text-align: left;
  }
}

.footer-payment ul {
  padding: 0;
  display: inline-block;
  list-style-type: none;
}

.footer-payment ul li {
  display: inline-block;
  margin: 0 6px;
}

@media only screen and (min-width: 1008px) {
  .footer-payment ul li.ftr-stella {
    margin-left: 0;
  }
}



